<!DOCTYPE html>
<html lang="en">
  <head>
    <title>justCoding TicTacToe | Login to Discord</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="The webview for stats of the Discord plays TicTacToe bot">
    <link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <h1>Tic Tac Toe - Stats</h1>
    <div id="bt-center">
      <a id="dc-login" href="https://discord.com/api/oauth2/authorize?client_id=811267001238159420&redirect_uri=https%3A%2F%2Fdiscordplaystictactoewebsite-1.justdevcreator.repl.co%2Flogin%2F&response_type=code&scope=identify">Login with Discord</a>
    </div>
  </body>
</html>